<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <a class="navbar-brand" href="/">Pet Diary</a>
                {% if request.cookies.get('mytoken') is none %}

                {% else %}
                <li class="nav-item active" id="diary_save_btn">
                    <a class="nav-link" href="/post">+Add Diary</a>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav">
                {% if request.cookies.get('mytoken') is none %}
                <li class="nav-item">
                    <a class="nav-link" href="/login" style="cursor: pointer;">로그인</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sign_up" style="cursor: pointer;">회원가입</a>
                </li>

                {% else %}
                <li class="navbar-text" id="user_id">
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="cursor: pointer;" onclick="logout()"> 로그아웃</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
<script src="../static/header.js"></script>