<!DOCTYPE html>
<html lang="ko" dir="ltr">
<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="{{url_for('static', filename='./images/asd.ico')}}">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
	<title>Pet Diary - 회원가입</title>
	<!--from login.html-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
	<link rel="stylesheet" href="{{url_for('static', filename='./sign_up.css')}}">
</head>
<body>
	<script src="{{url_for('static', filename='./sign_up.js')}}" charset="utf-8"></script>
	{% include 'header.html' %}
	<form id="login-form" action="#" onsubmit="signUp();return false" method="POST">
		<div class="mb-3">
			<label class="form-label" for="user-id">아이디</label>
			<input type="text" class="form-control" name="user-id" placeholder="아이디를 입력해주세요.">
			<div class="input-rules">
				공백없이 문자와 숫자로만 3~10자 이내로 입력해주세요.
			</div>
		</div>
		<div class="mb-3">
			<label class="form-label" for="user-password">비밀번호</label>
			<input type="password" class="form-control" name="user-password" placeholder="비밀번호를 입력해주세요.">
			<div class="input-rules">
				비밀번호는 다음 요건을 반드시 충족해야 합니다.
			</div>
			<ul class="check-list">
				<li><span>❌</span> 8자 이상</li>
				<li><span>❌</span> 영문 대문자</li>
				<li><span>❌</span> 영문 소문자</li>
				<li><span>❌</span> 숫자</li>
				<li><span>❌</span> 특수문자</li>
				<li><span>❌</span> 공백 없음</li>
			</ul>
		</div>
		<div class="mb-3">
			<label class="form-label" for="double-check">비밀번호 확인</label>
			<input type="password" class="form-control" name="double-check" placeholder="한번 더 입력해주세요.">
			<div class="input-rules">
				앞서 입력한 비밀번호와 일치해야합니다.
			</div>
		</div>
		<button type="submit" class="btn btn-primary btn-lg" disabled="true">회원가입</button>
	</form>
</body>
</html>
